# Directories
/ships
/build
/dist

# Individual Files
ships.zip
encrypt_replacements.py
boss_enemy_bingo_seed.zip
checks.txt
settings.txt
battleship_rando.zip
enemyspoilers
enemies.rando
seenbosses.txt
previous_preset.txt
encrypt_replacements.spec
rando_battleship.spec